@model DSP.Core.DTO.VendorCustomersDTO
<div class="row">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cust in Model.Customers)
            {
                <tr>
                    <th scope="row">@cust.Name</th>
                    <th>@cust.Address</th>
                    <th>@cust.PhoneNumber</th>
                </tr>
            }
        </tbody>
    </table>
</div>